.footer-info {
    font-weight: 400;
    margin: $line_grid*4 0;

    a {
        color: $color_Text;
        border: none;
    }

    &__links {
        a {
            color: $color_Text_Secondary;

            &:hover {
                color: $color_LinkHover;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        margin: $line_grid*3 0;

        &__col {
            margin-bottom: $line_grid*2;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}