.nav-main {
    &__item {
        &_active, &_active a {
            color: $color_LinkHover;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: $line_grid*3;

        &__item {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
        }
    }
}