.nav-sub {
    margin: $line_grid*2 0 $line_grid*3 0;

    &__item {
        margin: 0 $line_grid*2 $line_grid 0;

        &:last-child {
            margin-bottom: $line_grid;
        }

        &_active, &_active a {
            color: $color_Text;
            font-weight: 700;
            border: none;
        }

        a {
            border-bottom: 1px solid $color_LinkHover;
        }
    }

    @include media-breakpoint-down(xs) {
        margin: $line_grid*2 0 $line_grid 0;
    }
}