@include icon('icon-hot-link', relative, 23px, 21px, 'icon-hot-link', 50%, -11px);

.icon-hot-link {
    &_news {
        padding-left: 22px;

        &:before,
        &:after {
            width: 16px;
            height: 20px;
        }
    }

    &_vote {
        padding-left: 28px;

        &:before {
            background-position: top right;
        }

        &:after {
            background-position: bottom right;
        }
    }

    @include media-breakpoint-down(sm) {
        &_news {
            padding-left: 28px;

            &:before, &:after {
                left: 3px;
            }
        }
    }
}