@include icon('icon-social', relative, 49px, 49px, 'icon-social');

.icon-social {
    &:hover {
        &:before {
            opacity: 1;
        }
    }

    &:before, &:after {
        transition-duration: 0.5s;
    }

    &_vk {
        &:before {
            background-position: top left;
        }

        &:after {
            background-position: bottom left;
        }
    }

    &_fb {
        &:before {
            background-position: -158px 0;
        }

        &:after {
            background-position: -158px -51px;
        }
    }

    &_ok {
        &:before {
            background-position: -78px 0;
        }

        &:after {
            background-position: -78px -51px;
        }
    }

    &_in {
        &:before {
            background-position: top right;
        }

        &:after {
            background-position: bottom right;
        }
    }
}