@include icon('icon-info', relative, 21px, 21px, 'icon-info');

.icon {
    text-indent: -9999px;
    white-space: nowrap;
    border: none;

    &_to-text {
        width: auto !important;
        height: auto !important;
        text-indent: 0;
        white-space: normal;
    }

    &_not-hover {
        &:hover {
            &:before {
                opacity: 1;
            }

            &:after {
                opacity: 0;
            }
        }
    }
}