.page-header {
    position: relative;
    flex: 0 0 auto;
    height: $line_grid*8;
    padding: 25px 0 23px 0;
    border-bottom: 1px solid $color_Tertiary;
    @include z-index(header);

    @include media-breakpoint-down(xs) {
        height: $line_grid*5;
        padding: 17px 0 15px 0;
    }
}