$z-index: (
    menu-action      : 120,
    menu-mobile      : 100,
    popup            : 90,
    layout           : 80,
    header           : 20,
    default          : 1
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

@mixin z-index($key) {
    z-index: z-index($key);
}

/********

@include z-index(default);

*********/