.project-report {
    &__wrap {
        margin-top: $line_grid*3;
    }

    &__element {
        background: $color_Tertiary;
        border-radius: 4px;
        padding: $line_grid*2;
        margin-bottom: $line_grid*3;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(xs) {
        &__wrap {
            margin-top: $line_grid*2;
        }

        &__element {
            margin-bottom: $line_grid;
        }
    }
}