.project-files {
    &__wrap {
        margin-top: $line_grid*3;
    }

    @include media-breakpoint-down(sm) {
        margin-top: $line_grid*4;
    }

    @include media-breakpoint-down(xs) {
        margin-top: $line_grid*3;
    }
}