.project-detail {
    margin-top: $line_grid*6;

    &:first-child {
        margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
        margin-top: $line_grid*5;
    }

    @include media-breakpoint-down(xs) {
        margin-top: $line_grid*4;
    }
}