.project-header {
    position: relative;
    min-height: 450px;

    &__image {
        @include position(absolute, -360px null null 58%);
        @include size(780px);
        border-radius: 50%;
        background: {
            size: contain;
            position: 50% 100%;
            repeat: no-repeat;
        }
        overflow: hidden;
    }

    @include media-breakpoint-down(sm) {
        min-height: unset;

        &__image {
            display: none;
        }
    }

    @include media-breakpoint-down(xs) {
        &__title {
            text-align: center;
        }
    }
}