$class: 'project-points';

.#{$class} {
    margin-top: $line_grid*5;

    &__result,
    &__info {
        display: inline-block;
        vertical-align: middle;
    }

    &__result {
        @include size(168px);
        background: $color_Secondary;
        border-radius: 50%;
        color: $color_White;
        text-align: center;
        padding: $line_grid*3 0;
    }

    &__count {
        font-size: 60px;
        line-height: 64px;
        font-weight: 900;
    }

    &__title {
        font-size: 28px;
        line-height: 32px;
    }

    &__info {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        margin-left: $line_grid*3;
    }

    &_small {
        display: flex;
        flex-direction: row;
        margin: 0;

        .#{$class}__result {
            flex: 0 0 auto;
            align-self: center;
            @include size(82px);
            padding: 18px 0;
        }

        .#{$class}__count {
            font-size: 24px;
            line-height: 24px;
        }

        .#{$class}__title {
            font-size: $font_Size;
            line-height: $line_Height;
        }

        .#{$class}__info {
            font-size: $font_Size;
            line-height: $line_Height;
            margin-left: $line_grid;
            align-self: center;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-top: $line_grid*4;

        &_small {
            margin: 0;
        }
    }

    @include media-breakpoint-down(xs) {
        margin-top: $line_grid*3;
        text-align: center;

        &__info {
            display: block;
            font-size: $font_Size;
            line-height: $line_Height;
            margin: $line_grid*2 0 0 0;
        }

        &_small {
            text-align: left;

            .#{$class}__info {
                margin: 0 0 0 $line_grid;
            }
        }
    }
}