.project-tags {
    margin: $line_grid*4 0 $line_grid*2 0;

    &:last-child {
        margin-bottom: 0;
    }

    &__position {
        margin-top: $line_grid;
    }

    &__lang {
        margin-top: $line_grid;
    }

    &__back {
        margin-top: $line_grid*2;
    }

    @include media-breakpoint-down(sm) {
        margin-top: $line_grid*3;
    }

    @include media-breakpoint-down(xs) {
        text-align: center;
        margin-top: $line_grid*2;
    }
}