.project-lead {
    text-align: center;

    &__element {
        margin-bottom: $line_grid*2;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        display: inline-block;
        @include size(160px);
        border-radius: 50%;
        background: {
            size: cover;
            position: 50% 50%;
            repeat: no-repeat;
        }
        margin-bottom: $line_grid;
    }

    &__title {
        font-weight: 700;
    }

    &__phone {
        a {
            border: none;

            &:hover, &:focus {
                color: $color_Text;
            }
        }
    }

    &_lk {
        text-align: left;
        margin: 0;
    }

    @include media-breakpoint-down(sm) {
        text-align: left;
        margin-top: $line_grid*3;

        &__element {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
        }

        &__image {
            flex: 0 0 auto;
            margin: 0 $line_grid*2 0 0;
        }

        &__info {
            flex: 1 0;
        }

        &_lk {
            margin-top: 0;
        }
    }

    @include media-breakpoint-down(xs) {
        text-align: center;
        margin-top: $line_grid*3;

        &__element {
            display: block;
            flex-direction: row;
            align-items: center;
            margin: 0 0 $line_grid*2 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__image,
        &__info {
            flex: auto;
        }

        &__image {
            display: inline-block;
            margin: 0 0 $line_grid 0;
        }

        &_lk {
            text-align: left;
            margin-top: 0;
        }
    }
}