.project-edit {
    margin-top: $line_grid*4;

    h2 {
        margin: 0;
    }

    &__points {
        margin-top: $line_grid*2;
    }

    &__report {
        margin-top: $line_grid*4;
    }

    @include media-breakpoint-down(xs) {
        h2 {
            font-size: 24px;
            line-height: 36px;
        }

        &__report {
            margin-top: $line_grid*3;
        }
    }
}