.slider-main {
    position: relative;
    opacity: 0;
    margin: $line_grid*3 0 0 0;
    @include transition(opacity 0.4s ease);

    &_visible {
        opacity: 1;
    }

    &__wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 420px;
        transform: translate3d(0px, 0, 0);
        @include transition-property(transform);
    }

    &__slide {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        @include transition-property(transform, opacity);
    }

    &__title {
        max-height: 288px;
        font-size: 48px;
        line-height: 58px;
        font-weight: 700;
        overflow: hidden;
    }

    &__image {
        @include position(absolute, -420px null null 44%);
        @include size(980px);
        border-radius: 50%;
        background: {
            size: contain;
            position: 50% 100%;
            repeat: no-repeat;
        }
        overflow: hidden;
    }

    &__pagination {
        @include position(absolute, null null 84px 0);
        font-size: 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;

        &_disabled {
            display: none;
        }
    }

    &__bullet {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include size(19px);
        background: transparent;
        border: 2px solid $color_Secondary;
        border-radius: 50%;
        margin: 0 4px;
        cursor: pointer;

        &:before {
            content: '';
            @include position(absolute, 4px 4px null null);
            display: inline-block;
            @include size(7px);
            border-radius: 50%;
            background: $color_Secondary;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &_active {
            cursor: default;

            &:before {
                opacity: 1;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__wrap {
            height: 312px;
        }

        &__title {
            max-height: 180px;
            font-size: 50px;
            line-height: 60px;
        }

        &__image {
            top: -340px;
            @include size(670px);
        }
    }

    @include media-breakpoint-down(xs) {
        padding-bottom: 60px;
        margin: 0;
        
        &__title {
            max-height: unset;
            font-size: 24px;
            line-height: 30px;
        }

        &__wrap {
            height: auto;
        }

        &__image {
            display: none;
        }

        &__pagination {
            bottom: $line_grid*2;
        }
    }
}