.slider-banner {
    position: relative;
    opacity: 0;
    margin: $line_grid*18 0 $line_grid*6 0;
    @include transition(opacity 0.4s ease);

    &_visible {
        opacity: 1;
    }

    &__wrap {
        position: relative;
        display: flex;
        background: $color_Tertiary;
        flex-direction: row;
        width: 100%;
        height: 240px;
        transform: translate3d(0px, 0, 0);
        @include transition-property(transform);
    }

    &__slide {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        padding: $line_grid*4 60px 0 60px;
        @include transition-property(transform, opacity);
    }

    &__title {
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
    }

    &__image {
        @include position(absolute, null 80px 0 null);
        width: 550px !important;
        height: 400px !important;
        background: {
            size: contain;
            repeat: no-repeat;
            position: bottom center;
        }
    }

    &__pagination {
        @include position(absolute, null null $line_grid*4 60px);
        font-size: 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;

        &_disabled {
            display: none;
        }
    }

    &__bullet {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        @include size(19px);
        background: transparent;
        border: 2px solid $color_Secondary;
        border-radius: 50%;
        margin: 0 4px;
        cursor: pointer;

        &:before {
            content: '';
            @include position(absolute, 4px 4px null null);
            display: inline-block;
            @include size(7px);
            border-radius: 50%;
            background: $color_Secondary;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &_active {
            cursor: default;

            &:before {
                opacity: 1;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        margin: $line_grid*12 0 $line_grid*4 0;

        &__slide {
            padding: $line_grid*3 $line_grid*2 0 $line_grid*2;
        }

        &__title {
            font-size: 24px;
            line-height: 36px;
        }

        &__image {
            right: 40px;
            width: 415px !important;
            height: 315px !important;
        }

        &__pagination {
            left: $line_grid*2;
            bottom: $line_grid*3;
        }
    }

    @include media-breakpoint-down(xs) {
        margin: $line_grid*5 0 $line_grid*3 0;

        &__wrap {
            background: transparent;
            height: 252px;
        }

        &__slide {
            padding: 0;
        }

        &__image {
            @include position(relative, auto auto auto auto);
            width: 100% !important;
            height: 180px !important;
            margin-bottom: $line_grid*2;
        }

        &__title {
            text-align: center;
        }

        &__pagination {
            @include position(relative, auto auto auto auto);
        }
    }
}