.expert-detail {
    &__sidebar {
        text-align: center;
    }

    &__image {
        position: relative;
        display: inline-block;
        @include size(208px);
        border-radius: 50%;
        background: {
            size: cover;
            position: 50% 50%;
        }
    }

    &__blockquote {
        font-style: italic;
        margin-top: $line_grid*2;
    }

    &__position {
        margin: $line_grid*2 0;
    }

    &__tags {
        margin: $line_grid*2 0;
    }

    &__content {
        margin: $line_grid*4 0;
    }

    &__position,
    &__tags,
    &__content {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        &__sidebar {
            text-align: left;
            margin-bottom: $line_grid*3;
        }
    }

    @include media-breakpoint-down(xs) {
        &__sidebar {
            text-align: center;
        }
    }
}