.expert-list {
    margin-top: $line_grid*4;

    &__col {
        margin-top: $line_grid*4;

        &:nth-child(-n+3) {
            margin-top: 0;
        }
    }

    &__footer {
        @extend h2;
    }

    @include media-breakpoint-down(sm) {
        &__col {
            &:nth-child(3) {
                margin-top: $line_grid*4;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        margin-top: $line_grid*2;

        &__col {
            margin-top: $line_grid*3;

            &:nth-child(2) {
                margin-top: $line_grid*3;
            }

            &:nth-child(3) {
                margin-top: $line_grid*3;
            }
        }
    }
}