$class: 'expert-card';

.#{$class} {
    display: block;
    text-align: center;
    border: none;

    a {
        display: block;
        border: none;

        &:hover {
            color: $color_Text;

            .#{$class}__title {
                color: $color_LinkHover;
            }
        }

        &:focus {
            color: $color_Text;

            &:hover {
                color: $color_Text;
            }
        }
    }

    &__image {
        position: relative;
        display: inline-block;
        @include size(252px);
        border-radius: 50%;
        background: {
            size: cover;
            position: 50% 50%;
        }
        margin-bottom: $line_grid;
    }

    &__result {
        @include position(absolute, null 0 0 null);
        @include size(82px);
        background: $color_Secondary;
        border-radius: 50%;
        color: $color_White;
        text-align: center;
        padding: 18px 0;
        @include z-index(default);
    }

    &__count {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
    }

    &__title {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        padding: 0 $line_grid*2;
        transition: color 0.2s ease;
    }

    &__position {
        padding: 0 $line_grid*2;
        margin-top: $line_grid;
    }

    &__tags {
        .tag {
            margin-top: $line_grid;
        }
    }

    &__lead {
        margin-top: $line_grid;
    }

    &__lang {
        margin-top: $line_grid;
    }

    &__team {
        margin-top: $line_grid;
    }

    @include media-breakpoint-down(xs) {
        &__image {
            @include size(216px);
        }
    }
}