.form-profile {
    &__image {
        width: 200px;
        height: 200px;
        background: {
            size: cover;
            position: 50% 50%;
        }
        border-radius: 4px;
        margin-bottom: $line_grid;
        overflow: hidden;
    }
}