.form-team {
    &__row {
        background: $color_Tertiary;
        border-radius: 4px;
        padding: 18px $line_grid $line_grid*2 $line_grid;
        margin: 0 0 $line_grid*2 0;
    }

    &__list {
        margin: $line_grid*3 0;
    }

    &__del {
        margin-top: 20px;

        &_hidden {
            display: none;
        }
    }

    &__side {
        display: none;

        &_md {
            display: block;
            width: 100%;
            margin-bottom: $line_grid*2;
        }
    }

    @include media-breakpoint-down(sm) {
        &__side {
            display: block;
            width: 100%;
            margin-bottom: $line_grid*2;
        }
    }

    @include media-breakpoint-down(xs) {
        &__row {
            padding: 18px 0 $line_grid 0;
        }

        &__side {
           display: none;
        }

        &__del {
            margin-top: $line_grid;
        }

        &__list {
            margin: $line_grid*2 0;
        }

        &__col {
            margin-bottom: $line_grid;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}