.form-project {
    &__cell {
        background: $color_Tertiary;
        height: 100%;
        padding: $line_grid*3;
        border-radius: 4px;
    }

    &__image {
        width: 150px;
        height: 150px;
        background: {
            size: cover;
            position: 50% 50%;
        }
        border-radius: 4px;
        margin-bottom: $line_grid;
        overflow: hidden;
    }

    @include media-breakpoint-down(sm) {
        &__col {
            margin-bottom: $line_grid*3;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        &__cell {
            background: none;
            padding: 0;
            border: none;
        }
    }
}