.btn-menu-action {
    position: relative;
    display: inline-block;
    height: 25px;
    transition: none;
    @include z-index(menu-action);

    span {
        display: block;
        position: relative;
        background: $color_Primary;
        width: 30px;
        height: 3px;
        @include transition(background 0.3s ease);

        &:after,
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background: $color_Primary;
            @include position(absolute, 0px null null 0px);
            @include transition(all 0.3s ease);
        }

        &:after {
            top: -8px;
        }

        &:before {
            top: 8px;
        }
    }

    &:hover {
        span {
            background-color: $color_Secondary;

            &:after,
            &:before {
                background-color: $color_Secondary;
            }
        }
    }

    &:focus {
        outline: none;
    }

    &_close {
        span {
            background: 0 0;

            &:before {
                top: 0;
                @include transform(rotate3d(0,0,1,-45deg));
            }

            &:after {
                top: 0;
                @include transform(rotate3d(0,0,1,45deg));
            }
        }

        &:hover {
            span {
                background: 0 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &:hover {
            span {
                background-color: $color_Primary;

                &:after,
                &:before {
                    background-color: $color_Primary;
                }
            }
        }

        &_close {
            span {
                background: 0 0;
            }

            &:hover {
                span {
                    background: 0 0;
                }
            }
        }
    }
}