.btn {
    display: inline-block;
    vertical-align: middle;
    background: $color_Secondary;
    border: 1px solid $color_Secondary;
    border-radius: 3px;
    font-size: $font_Size;
    line-height: $line_Height;
    color: $color_Text;
    padding: 5px 18px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    @include user-select(none);
    @include transition(background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease);

    &:hover {
        background-color: $color_Primary;
        border-color: $color_Primary;
        color: $color_White;
    }

    &:focus {
        color: $color_Text;
        outline: none;
        text-decoration: none;

        &:hover {
            border-color: $color_Primary;
            color: $color_White;
            text-decoration: none;
        }
    }

    &:disabled {
        background: $color_Tertiary;
        border-color: $color_Tertiary;
        color: $color_Text;

        &:hover {
            background: $color_Tertiary;
            border-color: $color_Tertiary;
            color: $color_Text;
        }
    }

    &_large {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        padding: 20px 30px;
    }

    &_white {
        background: $color_White;
    }

    @include media-breakpoint-down(xs) {
        &_large {
            font-size: $font_Size;
            line-height: $line_Height;
            font-weight: 400;
            padding: 11px 18px;
        }
    }
}