/*Colors*/
$color_Text: #000000;
$color_Text_Secondary: #9a9a9a;

$color_Primary: #636363;
$color_Secondary: #c6d941;
$color_Tertiary: #efefef;

$color_Link: $color_Text;
$color_LinkHover: #89d316;

$color_Selection: $color_Primary;
$color_SelectionText: #ffffff;

$color_White: #ffffff;

$font_Primary: 'HelveticaNeueCyr', Arial, Helvetica, sans-serif;

$font_Size: 16px;
$line_Height: 24px;

$line_grid: 12px;

$maxWidth: 1200px;