.header-main {
    &__wrap {
        display: flex;
        flex-direction: row;
    }

    .logotype {
        flex: 3 0;
        font-family: $font_Primary;
        font-size: 42px;
        line-height: 50px;
        font-weight: 900;
        text-transform: uppercase;

        a {
            color: $color_Text;
            border: none;
        }

        &__glyph {
            color: $color_Secondary;
        }
    }

    .nav-main {
        flex: 5 0;
        align-self: center;
    }

    .hot-link {
        flex: 1 0;
        align-self: center;
    }

    .auth-action,
    .menu-action {
        flex: 1 0;
        align-self: center;
        text-align: right;
    }

    .auth-action{
        flex: 2 0;
    }

    @include media-breakpoint-down(sm) {
        .logotype {
            flex: 1 0;
        }
    }

    @include media-breakpoint-down(xs) {
        .logotype {
            font-size: 25px;
            line-height: 30px;
        }
    }
}