.menu-mobile {
    @include position(fixed, 96px 0 0 null);
    width: 320px;
    background: $color_White;
    padding: $line_grid*3 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    @include z-index(menu-mobile);

    @include transition(opacity 0.2s ease, visibility 0.4s ease, transform 0.4s ease);

    &__contacts {
        margin-top: $line_grid*3;
    }

    &__phone {
        border: none;
    }

    &__lang {
        margin-top: $line_grid;
    }

    &_visible {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    @include media-breakpoint-down(xs) {
        top: 60px;
        width: 100%;
        max-width: 320px;
    }
}