.form {
    &__success,
    &__loading,
    &__already,
    &__error {
        display: none;
    }

    &__response {
        position: relative;
        font-style: italic;
        padding: $line_grid 0 $line_grid 30px;
        margin: $line_grid*2 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:after {
            content: '';
            @include position(absolute, 50% null null 0);
            width: 21px;
            height: 21px;
            background: {
                image: url("/pics/i/icon-info.svg");
                position: top left;
                repeat: no-repeat;
            }
            opacity: 1;
            margin-top: -11px;
        }

        &_error {
            color: #ff0000;
        }
    }

    &_success,
    &_loading,
    &_already,
    &_error {
        .form__content {
            display: none;
        }
    }

    &_loading {
        .form__loading {
            display: block;
            line-height: 1;
            padding: 7px 0;

            &_text_center {
                text-align: center;
            }
        }
    }

    &_success {
        .form__success {
            display: block;
        }
    }

    &_already {
        .form__already {
            display: block;
        }
    }

    &_error {
        .form__error {
            display: block;
        }
    }
}