textarea {
    resize: vertical;
}

input[type=checkbox] {
    width: auto;
}

.input {
    display: block;
    width: 100%;
    height: 36px;
    background: $color_White;
    background-image: none;
    font-family: $font_Primary;
    font-size: $font_Size;
    line-height: $line_Height;
    color: $color_Text;
    border: 1px solid $color_LinkHover;
    border-radius: 3px;
    padding: 5px 13px 6px 13px;
    outline: none;
    box-shadow: none;
    @include transition(border-color 0.3s ease-in-out);

    @include placeholder {
        color: $color_Text_Secondary;
    }

    &:invalid {
        box-shadow: none;
    }

    &:disabled {
        border-color: $color_Text_Secondary;
        color: $color_Text_Secondary;
    }

    &_area {
        min-height: 96px;
        border-radius: 4px;
    }

    &_checkbox,
    &_radio {
        display: none;

        & + label,
        &:disabled + label,
        &:disabled:checked + label {
            position: relative;
            display: inline-block;
            line-height: $line_grid*2;
            color: $color_Text;
            padding-left: 28px;
            margin: 0;
            cursor: pointer;
            @include user-select(none);

            &:after,
            &:before {
                content: '';
                display: inline-block;
                @include position(absolute, 2px null null 0);
                @include transition(all 0.2s ease);
            }
        }
    }

    &_checkbox {
        & + label,
        &:disabled + label,
        &:disabled:checked + label {
            &:before {
                @include size(18px);
                border: 1px solid $color_LinkHover;
                background-color: transparent;
                border-radius: 5px;
            }

            &:after {
                left: 6px;
                top: 10px;
                width: 0;
                height: 0;
                border: 3px solid transparent;
                @include transform(rotateZ(40deg));
                @include transform-origin(100% 100%);
            }
        }

        &:checked + label {
            &:before {
                border: 1px solid $color_Secondary;
                background-color: $color_Secondary;
            }

            &:after {
                top: 5px;
                left: 2px;
                width: 6px;
                height: 11px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid $color_Text;
                border-bottom: 2px solid $color_Text;
            }
        }

        &:disabled + label {
            color: #C5C5C5;
            cursor: default;

            &:before {
                border-color: #C5C5C5;
            }
        }

        &:disabled:checked + label {
            &:before {
                border: 1px solid #C5C5C5;
                background-color: transparent;
            }

            &:after {
                top: 6px;
                left: 2px;
                width: 6px;
                height: 11px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid #C5C5C5;
                border-bottom: 2px solid #C5C5C5;
            }
        }
    }

    &_radio {
        & + label,
        &:disabled + label,
        &:disabled:checked + label {
            &:before {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 1px solid $color_LinkHover;
                background-color: $color_White;
            }

            &:after {
                left: 5px;
                top: 7px;
                width: 8px;
                height: 8px;
                background: transparent;
                border-radius: 50%;
                @include transform(scale(0));
            }
        }

        &:checked + label {
            &:before {
                border: 5px solid $color_Secondary;
            }

            &:after {
                background-color: $color_Text;
                @include transform(scale(1));
            }
        }

        &:disabled + label {
            color: #C5C5C5;
            cursor: default;

            &:before {
                border-color: #C5C5C5;
            }
        }

        &:disabled:checked + label {
            &:before {
                border: 5px solid #C5C5C5;
            }

            &:after {
                background-color: #C5C5C5;
                @include transform(scale(1));
            }
        }
    }

    &_select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none!important;
        text-indent: 0.01px;
        text-overflow: '';
        cursor: pointer;
        padding-right: 36px;
        background: {
            color: $color_White !important;
            image: url("/pics/i/icon-toggle.svg");
            position: center right;
            repeat: no-repeat;
        }

        & + label {
            z-index: -1;
        }

        &::-ms-expand {
            display: none;
        }
    }

    &_file {
        display: none;

        & + label {
            @extend a;
            cursor: pointer;
        }
    }

    &_has-label {
        height: 60px;
        border-radius: $line_grid;
        padding: 30px 13px 6px 13px;

        & + label {
            @include position(absolute, 6px 13px null 13px);
            color: $color_Text_Secondary;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &_wrong {
        border-color: #e13d4f !important;
    }

    &_large {
        height: 48px;
        padding: 11px 21px 12px 21px;
    }

    &_dark {
        border-color: $color_White;
        background: $color_Primary;
        color: $color_White;

        @include placeholder {
            color: $color_White;
        }

        &:-webkit-autofill{
            -webkit-text-fill-color: $color_White;
            box-shadow:inset 0 0 0 1000px $color_Primary !important;
        }
    }

    @include media-breakpoint-down(sm) {
        line-height: 36px;
        padding: 0 13px 0 13px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 16px;
    }
}