.input-field {
    position: relative;
    margin-top: $line_grid*3;
    margin-bottom: $line_grid*3;

    &__hint {
        font-size: 14px;
        color: $color_Text_Secondary;
    }

    &_compact {
        margin: $line_grid*2 0;
    }

    &__inline,
    &_inline {
        display: inline-block;
        vertical-align: middle;
        margin: 0 16px 0 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &_completed {
        input {
            position: relative;
            @include z-index(input);
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
        margin-top: $line_grid*2;
        margin-bottom: $line_grid*2;

        &_inline {
            display: block;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        label {
            display: inline-block;
            margin-bottom: 6px;
        }
    }
}