.accession {
    position: relative;

    &__wrap {
        background: $color_Secondary;
        padding: $line_grid*2 $line_grid*5 $line_grid*2 $line_grid*2;
    }

    &__content {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
    }

    &__action {
        margin-top: $line_grid*2;
    }

    &__shrot {
        @include position(absolute, 0 0 null null);

        .shrot__item {
            @include position(absolite, 32px 0 null null);
        }
    }

    @include media-breakpoint-down(xs) {
        &__wrap {
            padding: $line_grid*2;
        }

        &__content {
            font-size: $font_Size;
            line-height: $line_Height;
            font-weight: 400;
        }
    }
}