.activities {
    &__element {
        margin-top: $line_grid*3;
        text-align: center;

        &:nth-child(-n+6) {
            margin-top: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        &__element {
            &:nth-child(5) {
                margin-top: $line_grid*3;
            }

            &:nth-child(6) {
                margin-top: $line_grid*3;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        &__wrap {
            margin: 0 -12px;
        }

        &__element {
            margin-top: $line_grid*2;
            padding: 0 12px;

            &:nth-child(3) {
                margin-top: $line_grid*2;
            }

            &:nth-child(4) {
                margin-top: $line_grid*2;
            }

            &:nth-child(5) {
                margin-top: $line_grid*2;
            }

            &:nth-child(6) {
                margin-top: $line_grid*2;
            }
        }
    }
}