.error {
    margin: $line_grid*9 0;

    &__num {
        font-size: 100px;
        line-height: 100px;
        font-weight: 900;
        color: $color_Secondary;
    }

    &__title {
        margin: $line_grid*2 0;
    }

    @include media-breakpoint-down(xs) {
        margin: $line_grid*4 0;
    }
}