.layout {
    @include position(fixed, 0 0 0 0);
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    @include z-index(layout);
    @include transition(opacity 0.4s ease, visibility 0.4s ease);

    &_visible {
        opacity: 1;
        visibility: visible;
    }

    &_header {
        top: 96px;
    }

    @include media-breakpoint-down(xs) {
        &_header {
            top: 60px;
        }
    }
}