$class: 'line-align';

.#{$class} {
    &__wrap {
        font-size: 0;
        line-height: 1;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        font-size: $font_Size;
        line-height: $line_Height;
        padding: 0;
        margin: 0 $line_grid*2 0 0;

        &:before {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            border: none;
        }

        &_accent {
            a {
                border-bottom: 1px solid $color_LinkHover;
            }
        }
    }

    &_vertical {
        .#{$class}__item {
            display: block;
            margin: 0 0 $line_grid 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    &_center {
        .#{$class}__item {
            margin: 0 $line_grid 0 $line_grid;

            &:last-child {
                margin-right: $line_grid;
            }
        }
    }
}