$color:      #ffffff;
$size:       30px;
$speed:      1s;
$thickness:  4px;

.loader {
    @include animation-duration($speed);
    @include animation-iteration-count(infinite);
    @include animation-name(rotate-forever);
    @include size($size);
    border: $thickness solid $color;
    border-top-color: transparent;
    border-radius: 50%;
    display: inline-block;
    @include transition(opacity 0.3s ease);

    &_small {
        @include size(20px);
        border: 3px;
        border-top-color: transparent;
    }

    &_dark {
        border: $thickness solid $color_Secondary;
        border-right-color: transparent;
    }

    &_hidden {
        opacity: 0;
    }

    &_visible {
        opacity: 1;
    }
}