.organizers {
    margin-bottom: $line_grid*5;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        text-align: center;
        margin-bottom: $line_grid*3;
    }

    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__image {
        flex: 0 0 auto;

        img {
            max-width: 150px;
        }
    }

    &__content {
        flex:  0 0 auto;
        max-width: 490px;
        margin-left: $line_grid*3;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: $line_grid*3;
    }

    @include media-breakpoint-down(xs) {
        &__wrap {
            flex-direction: column;
        }

        &__image {
            text-align: center;
            margin-bottom: $line_grid*2;
        }

        &__content {
            max-width: unset;
            margin-left: 0;
        }
    }
}