.partners {
    position: relative;
    margin-bottom: $line_grid*3;

    &__title {
        text-align: center;
        margin-bottom: $line_grid*3;
    }

    &__wrap {
        justify-content: center;
    }

    &__item {
        text-align: center;
    }

    &__shrot {
        .shrot__item_5 {
            top: 0;
            left: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
        &__item {
            margin-bottom: $line_grid*2;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}