.popup {
    @include position(fixed, 260px null null 50%);
    background: $color_White;
    width: 900px;
    padding: $line_grid*2;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    @include z-index(popup);
    @include transform(translate(-50%, -50%) scale(0.9));
    @include transition(opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease);

    &__close {
        @include position(absolute, $line_grid*2 $line_grid*2 null null);
        @include z-index(default);
        cursor: pointer;
    }

    &__title {
        margin-top: $line_grid*2;
    }

    &_visible {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        @include transform(translate(-50%, 0) scale(1));
        opacity: 1;
        visibility: visible;
    }

    @include media-breakpoint-down(sm) {
        width: auto;
        @include position(fixed, null 10px 10px 10px);
        top: 10px !important;
        @include transform(scale(0.9));
        overflow: auto;

        &_visible {
            @include transform(scale(1));
        }
    }
}