.procedure {
    position: relative;
    margin-top: $line_grid*8;

    &__element {
        margin-bottom: $line_grid*8;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        position: relative;
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
        padding-left: 60px;
        @include z-index(default);
    }

    &__count {
        @include position(absolute, -30px null null 0);
        font-size: 218px;
        line-height: 155px;
        font-weight: 900;
        color: $color_Secondary;
        z-index: -1;
        @include user-select(none);

        &_one {
            left: -15px;
        }
    }

    &__description {
        position: relative;
        margin-top: $line_grid*2;
        padding-left: 60px;
        @include z-index(default);
    }

    &__action {
        text-align: center;
    }

    &__banner {
        @include position(absolute, -36px null null 0);
        width: 86px;
        font-size: 120px;
        line-height: 100px;
        font-weight: 900;
        word-wrap: break-word;
        color: $color_Tertiary;
        text-align: center;
        text-transform: uppercase;
        @include user-select(none);

        span {
            display: block;
            font-size: 0;
            line-height: 0;
            padding: 32px;
        }
    }

    &__shrot {
        .shrot__item_2 {
            top: 863px;
            left: 133px;
        }

        .shrot__item_3 {
            top: 500px;
            right: 0;
        }
    }

    &_main {
        margin-top: $line_grid*14;
    }

    @include media-breakpoint-down(sm) {
        &__title,
        &__description {
            padding-left: 54px;
        }

        &__count {
            font-size: 180px;
            line-height: 130px;
        }

        &__banner {
            display: none;
        }

        &_main {
            margin-top: $line_grid*10;
        }
    }

    @include media-breakpoint-down(xs) {
        margin-top: $line_grid*3;

        &__element {
            margin-bottom: $line_grid*3;
        }

        &__title,
        &__description {
            padding-left: 30px;
        }

        &__title {
            font-size: 24px;
            line-height: 36px;
        }

        &__count {
            top: -7px;
            font-size: 105px;
            line-height: 77px;

            &_one {
                left: -7px;
            }
        }

        &_main {
            margin-top: $line_grid*6;
        }
    }
}