.shrot {
    &__item {
        background: {
            repeat: no-repeat;
        }

        &_1 {
            @include position(absolute, 260px -40px null null);
            width: 232px;
            height: 228px;
            background: {
                image: url("/pics/shrot/shrot-1.svg");
            }
        }

        &_2 {
            @include position(absolute, 610px null null -270px);
            width: 243px;
            height: 248px;
            background: {
                image: url("/pics/shrot/shrot-3.svg");
            }
        }

        &_3 {
            @include position(absolute, 1000px -240px null null);
            width: 229px;
            height: 229px;
            background: {
                image: url("/pics/shrot/shrot-2.svg");
            }
        }

        &_4 {
            @include position(absolute, 1800px null null -240px);
            width: 232px;
            height: 228px;
            background: {
                image: url("/pics/shrot/shrot-1.svg");
            }
        }

        &_5 {
            @include position(absolute, 2200px -240px null null);
            width: 231px;
            height: 158px;
            background: {
                image: url("/pics/shrot/shrot-4.svg");
            }
        }
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}