.status {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin: $line_grid*2 0;

    &_success {
        color: $color_Secondary;
    }

    &_error {
        color: #F42E19;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
        font-size: $font_Size;
        line-height: $line_Height;
    }
}