.visual {
    background: $color_Tertiary;
    overflow: hidden;

    &__content {
        padding: $line_grid*4 0;
    }

    &__description {
        margin-top: $line_grid*2;
    }

    &__image {
        padding-top: $line_grid;
    }

    @include media-breakpoint-down(sm) {
        &__content {
            padding: $line_grid*3 0;
        }

        &__title {
            font-size: 24px;
            line-height: 36px;
        }

        &__description {
            margin-top: $line_grid;
        }
    }

    @include media-breakpoint-down(xs) {
        &__content {
            padding: $line_grid*2 0;
        }
    }
}