@include font-face('HelveticaNeueCyr', '/fonts/HelveticaNeueCyr-Roman', 400, normal, $file-formats: woff ttf);
@include font-face('HelveticaNeueCyr', '/fonts/HelveticaNeueCyr-Bold', 700, normal, $file-formats: woff ttf);
@include font-face('HelveticaNeueCyr', '/fonts/HelveticaNeueCyr-Heavy', 900, normal, $file-formats: woff ttf);
@include font-face('HelveticaNeueCyr', '/fonts/HelveticaNeueCyr-Heavy', 900, normal, $file-formats: woff ttf);