/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    * {
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .footer-social,
    .menu-action,
    .procedure__count,
    .expert-card__image,
    .project-lead__image {
        display: none;
    }

    .expert-card {
        text-align: left;
    }

    .expert-card__title,
    .expert-card__position {
        padding: 0;
    }

    .page-header {
        border: 0;
    }

    .procedure__title,
    .procedure__description {
        padding: 0;
    }

    .slider-main__pagination {
        display: none;
    }

    .slider-banner {
        display: none;
    }

    .organizers {
        margin-top: 30px;
    }

    .slider-main__wrap {
        height: auto;
        padding-bottom: 40px;
    }
}