html, body {
    height: 100%;
}

body {
    font-family: $font_Primary;
    font-size: $font_Size;
    font-weight: 400;
    line-height: $line_Height;
    color: $color_Text;
}

a, .link {
    color: $color_Link;
    text-decoration: none;
    border-bottom: 1px solid $color_LinkHover;
    transition: color 0.2s ease;

    &:hover {
        color: $color_LinkHover;
        text-decoration: none;
    }

    &:focus {
        color: $color_Link;
        outline: none;
        text-decoration: none;

        &:hover {
            color: $color_LinkHover;
            text-decoration: none;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: $line_grid*4 0 $line_grid*2 0;
}

h1 {
    font-size: 50px;
    line-height: 60px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3,h4,h5,h6 {
    font-size: 16px;
    line-height: 24px;
}

ul, ol {
    margin: $line_grid*2 0;
    padding: 0 0 0 $line_grid;

    li {
        margin-bottom: $line_grid;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

ul {
    list-style: none;
    padding: 0;

    li {
        position: relative;
        padding-left: 14px;

        &:before {
            content: '#';
            @include position(absolute, 0 null null 0);
            display: inline-block;
            color: $color_LinkHover;
            border-radius: 50%;
        }
    }
}

ol {
    list-style: none;
    counter-reset: item;
    padding: 0;

    li {
        &:before {
            content: counter(item) ". ";
            counter-increment: item;
            font-size: 14px;
            color: $color_LinkHover;
        }
    }
}

nav {
    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;

            &:before {
                display: none;
            }
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: $line_grid*2 0;

    th {
        font-weight: 700;
    }

    td,th {
        border: 1px solid $color_Tertiary;
        padding: 8px $line_grid;
    }
}

p {
    margin: $line_grid*2 0;
}

blockquote {
    margin: $line_grid*2 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: $line_grid*2 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-height: 100%;
}

button {
    display: inline-block;
    background: none;
    box-shadow: none;
    font-size: $font_Size;
    line-height: $line_Height;
    border: none;
    padding: 0;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

address {
    font-style: normal;
}

::-moz-selection {
    background: $color_Selection;
    color:$color_SelectionText;
    text-shadow: none;
}

::selection {
    background: $color_Selection;
    color:$color_SelectionText;
    text-shadow: none;
}

@include media-breakpoint-down(xs) {
    h1, h2, h3, h4, h5, h6 {
        margin: $line_grid*3 0 $line_grid*2 0;
    }

    h1 {
        font-size: 24px;
        line-height: 36px;
    }

    h2 {
        font-size: 16px;
        line-height: 24px;
    }
}

h1, h2, h3, h4, h5, h6, ul, ol, table, p, hr, blockquote {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}